{% assign locale = page.url | slugify %}



<section id="cover">
    <div class="row">
        <div class="intro">
            <div class="col-md-8 col-center">
                <h1 class="introHeadline m-b-2"><span class="u-blue">Madrid </span>Open Cities <span class="u-blue">Summit</span></h1>
                <a href="http://opencitiessummit.eventbrite.es" class="btn btn-primary btn-lg m-b-1"><i class="fafa-calendar"></i> Register</a>
                <a href="#organization" class="btn btn-success btn-lg m-b-1"><i class="fa fa-check"></i> Submit a poster</a>
            </div>
            <span class="introCredit"><a class="link--inverse" href="https://www.flickr.com/photos/p_valdivieso/">Paulo Valdivieso</a>, <a class="link--inverse" href="https://flic.kr/p/gGaCou">El Retiro</a></span>
        </div>
    </div>
</section>

<section id="about">
    <div class="row">
        <div class="summary p-t-4 p-b-4">
            <div class="col-md-7 col-center">
                <img class="img-responsive center-block m-b-2 hidden-xs-down lazy" data-src="img/logo.svg" alt="Banner Open Cities Summit 2016, Madrid, October 5th."/>
                <img class="img-responsive center-block m-b-2 hidden-sm-up lazy" data-src="img/logo-mobile.svg" alt="Banner Open Cities Summit at Medialab-Prado, Madrid, Spain, October 5th, 2016."/>

                <noscript>
                    <img class="img-responsive center-block m-b-2 hidden-xs" src="img/logo.svg" alt="Banner Open Cities Summit at Medialab-Prado, Madrid, Spain, October 5th, 2016"/>
                    <img class="img-responsive center-block m-b-2 visible-xs" src="img/logo-mobile.svg" alt="Banner Open Cities Summit 2016, Madrid, October 5th, 2016"/>
                </noscript>

                <p class="text text-center"><a href="/" class="link"> {{ site.data.lang.[locale].text0 }} </a>.</p>
                <p class=""> {{ site.data.lang.[locale].text1 }} <a href="http://medialab-prado.es" >Medialab-Prado</a>. </p>
                <p class="introCite">{{ site.data.lang.[locale].text2 }} <span>International Open Data Conference Roadmap 2015</span></p>

                <h3 class="m-t-2">The OCS will aim to:</h3>
                <p class="summaryDesc m-b-1">{{ site.data.lang.[locale].text3 }}</p>
                <p class="summaryDesc m-b-1">{{ site.data.lang.[locale].text4 }}</p>
                <p class="summaryDesc m-b-1">{{ site.data.lang.[locale].text5 }}</p>

                <h3 class="m-t-2">The OCS will bring together:</h3>
                <p class="summaryDesc m-b-1">{{ site.data.lang.[locale].text6 }}</p>
                <p class="summaryDesc m-b-1">{{ site.data.lang.[locale].text7 }}</p>
                <p class="summaryDesc m-b-1">{{ site.data.lang.[locale].text8 }}</p>
                <p class="summaryDesc m-b-1">{{ site.data.lang.[locale].text9 }}</p>
                <p class="summaryDesc m-b-1">{{ site.data.lang.[locale].text10 }}</p>
                <p class="summaryDesc m-b-1">{{ site.data.lang.[locale].text11 }}</p>
                <p class="summaryDesc m-b-1">{{ site.data.lang.[locale].text12 }}</p>
            </div>
        </div>
    </div>
</section>

<section id="structure" class="m-b-4">
    <div class="row">
        <div class="col-md-7 col-center m-t-4">
            <h2 class="text-center">Structure</h2>

            <hr class="separator">

            <p class="text-center">{{ site.data.lang.[locale].text13 }}</p>

            <h3>Firstly</h3>
            <p class="text-left">{{ site.data.lang.[locale].text14 }}</p>

            <h3>Secondly</h3>
            <p class="text-left">{{ site.data.lang.[locale].text15 }}</p>

            <h3>Finally</h3>
            <p class="text-left">{{ site.data.lang.[locale].text16 }}</p>
        </div>
    </div>
</section>

    <section id="challenges" class="m-b-4">
    <div class="row">
        <div class="col-md-7 col-center m-t-4">
      <h2 class="text-center">Challenges</h2>
      <hr class="separator">
        </div>
        <div class="flex-joinUs text-center">
      <div class="joinUs one">
          <i class="fa fa-unlock fa-3x"></i>
          <h3>Management of an Open Data Policy</h3>
          <p class="text-left">{{ site.data.lang.[locale].text17 }}</p>
      </div>

      <div class="joinUs two">
          <i class="fa fa-map-o fa-3x"></i>
          <h3>Urban Planning</h3>
          <p class="text-left">{{ site.data.lang.[locale].text18 }}</p>
      </div>

      <div class="joinUs three">
          <i class="fa fa-bicycle fa-3x"></i>
          <h3>Environment</h3>
          <p class="text-left">{{ site.data.lang.[locale].text19 }}</p>
      </div>
      <div class="joinUs four">
          <i class="fa fa-line-chart fa-3x"></i>
          <h3>Competitiveness</h3>
          <p class="text-left">{{ site.data.lang.[locale].text20 }}</p>
      </div>
        </div>
    </div>
</section>

<section id="blog" class="m-b-4">
    <div class="row">
        <div class="col-md-7 col-center m-t-4">
            <h2 class="text-center">Blog</h2>

            <hr class="separator">

            <ul class="posts">
                {% for post in site.posts %}
                <li>
                    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                    <h3><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h3>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section id="programme">
    <div class="row">
        <div class="schedule p-t-2 p-b-4">
            <div class="col-md-8 col-center">
              <h2 class="text-center">Programme</h2>

              <hr class="separator--inverse">
              <div class="text-center m-b-2">
                <h4 class="scheduleLegend"><span class="circle talk"></span> Talk</h4>
                <h4 class="scheduleLegend"><span class="circle workshop"></span> Workshop</h4>
                <h4 class="scheduleLegend"><span class="circle
                roundTable"></span> Round Table</h4>
                <h4 class="scheduleLegend"><span class="circle barcamp"></span> Unconference</h4>
              </div>
                <p class="text-center">{{ site.data.lang.[locale].text21 }}</p>

              <header class="scheduleDay m-b-1">Wednesday October 5th, 2016</header>
              <div class="row">
                  <time class="col-xs-12 col-md-2 place">Medialab Prado</time>
                  <div class="col-xs-12 col-md-10 place">Auditorium</div>
              </div>

                <div class="row timeSlot">
                    <time class="col-xs-12 col-md-2">9.00 — 9.30</time>
                    <div class="col-xs-12 col-md-10">
                        <h4 class="m-t-0">Registration</h4>
                    </div>
                </div>
                <div class="row timeSlot">
                    <time class="col-xs-12 col-md-2">9.30 — 10.00</time>
                    <div class="col-xs-12 col-md-10">
                        <h4 class="m-t-0">Welcome</h4>
                    </div>
                </div>
                <div class="row timeSlot">
                    <time class="col-xs-12 col-md-2">10.00 — 11.00</time>
                    <div class="col-xs-12 col-md-10">
                        <h4 class="m-t-0">Keynote: Open Data to Improve Lives <span class="circle roundTable"></span></h4>
                    </div>
                </div>
                <div class="row timeSlot">
                    <time class="col-xs-12 col-md-2">11.00 — 12.00</time>
                    <div class="col-xs-12 col-md-10">
                        <h4 class="m-t-0">Poster Session Walk <span class="circle roundTable"></span></h4>
                    </div>
                </div>
                <div class="row timeSlot">
                    <time class="col-xs-12 col-md-2">12.00 — 13.00</time>
                    <div class="col-xs-12 col-md-10">
                        <h4 class="m-t-0">Challenge Identification and Description <span class="circle workshop"></span></h4>
                    </div>
                </div>
                <div class="row timeSlot break">
                    <time class="col-xs-12 col-md-2">13.00 — 14.00</time>
                    <div class="col-xs-12 col-md-10">
                        <h4 class="m-t-0"><i>Lunch</i> 🍔🍕🍉</h4>
                        <p>{{ site.data.lang.[locale].text22 }}</p>
                    </div>
                </div>

                <div class="row">
                    <time class="col-xs-12 col-md-2 place">Medialab-Prado</time>
              <div class="col-xs-12 col-md-10 place">Auditorium</div>
                </div>
                <div class="row timeSlot">
                    <time class="col-xs-12 col-md-2">14.00 — 17.00</time>
                    <div class="col-xs-12 col-md-10">
                        <h4 class="m-t-0">Ideathon: Unconference <span class="circle roundTable"></h4>
                        <p>{{ site.data.lang.[locale].text23 }}</p>
                    </div>

                </div>
                <div class="row timeSlot">
                    <time class="col-xs-12 col-md-2">17.00 — 18.00</time>
                    <div class="col-xs-12 col-md-10">
                        <h4 class="m-t-0">Medialab-Prado Visualizar'16 Presentations <span class="circle poster"></span></h4>
                        <p>{{ site.data.lang.[locale].text24 }}</p>
                    </div>
                </div>
                <div class="row timeSlot">
                    <time class="col-xs-12 col-md-2">18.00 — 19.00</time>
                    <div class="col-xs-12 col-md-10">
                        <h4 class="m-t-0">Ideathon Presentations <span class="circle poster"></span></h4>
                    </div>
                </div>
                <div class="row timeSlot">
                    <time class="col-xs-12 col-md-2">19.00 — 20.30</time>
                    <div class="col-xs-12 col-md-10">
                        <h4 class="m-t-0">Cocktail and networking <span class="circle talk"></span></h4>
                    </div>
                </div>
          </div>
        </div>
    </div>
</section>

<section id="org-committee" class="m-t-4">
    <div class="row">
        <div class="col-md-6 col-center text-center">
            <h2>Organizing Committee</h2>
            <hr class="separator">
        </div>
    </div>

    <div class="flex-speakers">
        <div class="speaker one">
            <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/katie_clancy.jpeg" alt="Katie Clancy">
            <noscript>
                <img class="img-responsive img-circle speakerImg" src="img/speakers/katie_clancy.jpeg" alt="Katie Clancy">
            </noscript>
            <h3 class="speakerName"><a href="http://twitter.com/LandofKatie" class="link">Katie Clancy</a></h3>
            <p>{{ site.data.lang.[locale].text25 }}</p>
        </div>
        <div class="speaker two">
            <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/fernando_perini.jpeg" alt="Fernando Perini">
            <noscript>
                <img class="img-responsive img-circle speakerImg" src="img/speakers/fernando_perini.jpeg" alt="Fernando Perini">
            </noscript>
            <h3 class="speakerName"><a href="https://twitter.com/fperini" class="link">Fernando Perini</a></h3>
            <p>{{ site.data.lang.[locale].text26 }}</p>
        </div>
        <div class="speaker three">
            <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/victoria_anderica.jpeg" alt="Victoria Anderica">
            <noscript>
                <img class="img-responsive img-circle speakerImg" src="img/speakers/victoria_anderica.jpeg" alt="Victoria Anderica">
            </noscript>
            <h3 class="speakerName"><a href="https://twitter.com/vickyande" class="link">Victoria Anderica Caffarena</a></h3>
            <p>{{ site.data.lang.[locale].text27 }}</p>
        </div>
        <div class="speaker four">
            <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/antonio_moneo.jpg" alt="Antonio Moneo">
            <noscript>
                <img class="img-responsive img-circle speakerImg" src="img/speakers/antonio_moneo.jpg" alt="Antonio Moneo">
            </noscript>
            <h3 class="speakerName"><a href="https://twitter.com/antoniomoneo" class="link">Antonio Moneo</a></h3>
            <p>{{ site.data.lang.[locale].text28 }}</p>
        </div>
        <div class="speaker five">
            <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/katelyn_rogers.jpeg" alt="Katelyn Rogers">
            <noscript>
                <img class="img-responsive img-circle speakerImg" src="img/speakers/katelyn_rogers.jpeg" alt="Katelyn Rogers">
            </noscript>
            <h3 class="speakerName"><a href="https://twitter.com/kayhuit" class="link">Katelyn Rogers</a></h3>
            <p>{{ site.data.lang.[locale].text29 }}</p>
        </div>
        <div class="speaker six">
            <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/francois_van_schalkwyk.jpg" alt="François Van Schalkwyk">
            <noscript>
                <img class="img-responsive img-circle speakerImg" src="img/speakers/francois_van_schalkwyk.jpg" alt="François Van Schalkwyk">
            </noscript>
            <h3 class="speakerName"><a href="https://twitter.com/francois_fvs2" class="link">François Van Schalkwyk</a></h3>
            <p>{{ site.data.lang.[locale].text30 }}</p>
        </div>
    </div>
</section>

<section id="cfp">
    <div class="row">
        <div class="call p-t-2 p-b-4">
            <div class="col-md-8 col-center text-center">
                <h2 class="text-center">Call for Participation</h2>

                <hr class="separator--inverse">

                <p>{{ site.data.lang.[locale].text31 }}</p>
                <embed src="https://docs.google.com/forms/d/1NER8J7TrnScLIkUIq-WaXn56otf7AEtZvsFfnPkj4GU/viewform" width="100%" height="700" frameborder="0" marginheight="0" marginwidth="0"></embed>
            </div>
        </div>
    </div>
</section>

<section id="org">
    <div class="row m-t-2 m-b-2">
        <div class="sponsors">
            <div class="col-md-6 col-center text-center">

            <h2>Collaborators</h2>
            <hr class="separator">

            <div class="sponsorList">
                <div class="row">
                    <div class="col-md-6">
                        <div class="sponsor">
                              <img class="sponsorLogo img-responsive okfn lazy" data-src="img/sponsors/okfn.svg.png" alt="Open Knowledge International" />
                              <noscript>
                            <img class="sponsorLogo img-responsive" src="img/sponsors/okfn.svg.png" alt="Open Knowledge International" />
                              </noscript>
                          </div>
                            </div>
                            <div class="col-md-6">
                          <div class="sponsor">
                              <img class="sponsorLogo img-responsive u-fullWidth medialab lazy" data-src="img/sponsors/medialab.svg" alt="Medialab-Prado" />
                              <noscript>
                            <img class="sponsorLogo img-responsive u-fullWidth" src="img/sponsors/medialab.svg" alt="Medialab-Prado" />
                              </noscript>
                          </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                          <div class="sponsor">
                              <img class="sponsorLogo img-responsive bid lazy" data-src="img/sponsors/bid.jpg" alt="Inter American Development Bank" />
                              <noscript>
                            <img class="sponsorLogo img-responsive" src="img/sponsors/bid.jpg" alt="Inter American Development Bank" />
                              </noscript>
                          </div>
                            </div>
                            <div class="col-md-6">
                          <div class="sponsor">
                              <img class="sponsorLogo img-responsive google lazy" data-src="img/sponsors/idrc.svg" alt="International Development Research Centre" />
                              <noscript>
                            <img class="sponsorLogo img-responsive" src="img/sponsors/sponsors/idrc.svg" alt="International Development Research Centre" />
                              </noscript>
                          </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                          <div class="sponsor">
                              <img class="sponsorLogo img-responsive wwwf lazy" data-src="img/sponsors/wwwf.png" alt="Web Foundation" />
                              <noscript>
                            <img class="sponsorLogo img-responsive" src="img/sponsors/wwwf.png" alt="Web Foundation" />
                              </noscript>
                          </div>
                            </div>
                            <div class="col-md-6">
                          <div class="sponsor">
                              <img class="sponsorLogo img-responsive madrid lazy" data-src="img/sponsors/madrid.png" />
                              <noscript>
                            <img class="sponsorLogo img-responsive" src="img/sponsors/madrid.png" alt="Madrid City Council" />
                              </noscript>
                          </div>
                    </div>
                </div>

        <div class="row">
            <div class="col-md-6">
                <div class="sponsor">
              <img class="sponsorLogo img-responsive odc lazy" data-src="img/sponsors/odc.png" alt="Open Data Charter" />
              <noscript>
            <img class="sponsorLogo img-responsive" src="img/sponsors/odc.png" alt="Open Data Charter" />
              </noscript>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sponsor">
              <img class="sponsorLogo img-responsive iodc lazy" data-src="img/sponsors/iodc.jpg" alt="International Open Data Conference" />
              <noscript>
            <img class="sponsorLogo img-responsive" src="img/sponsors/iodc.jpg" alt="International Open Data Conference" />
              </noscript>
                </div>
            </div>
        </div>

        <p class="">{{ site.data.lang.[locale].text32 }}<a href="#contact">email</a></p>
        </div>
        </div>
        </div>
        </div>
</section>
