{% assign locale = page.url | slugify %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index,follow,noodp"/>
        <meta name="organization" content="Medialab-Prado"/>
        <link rel="canonical" href="http://opencitiessummit.org"/>
        <meta name="description" content="Madrid Open Cities Summit 2016, cities open to citiezen innovation, official pre-event International Open Data Conference, October 5th, 2016.">
        <meta itemprop="name" content="Open Cities Summit 2016"/>
        <meta itemprop="description" content="Madrid Open Cities Summit 2016, cities open to citiezen innovation, official pre-event International Open Data Conference, October 5th, 2016.">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@opencities2016">
        <meta name="twitter:title" content="Madrid Open Cities Summit 2016"/>
        <meta name="twitter:description" content="Madrid Open Cities Summit 2016, cities open to citiezen innovation, official pre-event International Open Data Conference, October 5th, 2016.">
        <meta name="twitter:creator" content="@opencities2016">
        <meta name="twitter:image" content="http://opencitiessummit.org/img/ocs-share.png?20160720">
        <meta property="og:title" content="Madrid Open Cities Summit 2016"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://opencitiessummit.org/"/>
        <meta property="og:image" content="http://opencitiessummit.org/img/ocs-share.png?20160720"/>
        <meta property="og:description" content="Madrid Open Cities Summit 2016, cities open to citiezen innovation, official pre-event International Open Data Conference, October 5th, 2016."/>
        <meta property="og:site_name" content="Madrid Open Cities Summit 2016" />

        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <title>Open Cities Summit 2016</title>

        <link href="http://fonts.googleapis.com/css?family=Work+Sans:400,500|Roboto+Condensed:700" rel="stylesheet" type="text/css">
        <link href="/css/style.min.css" rel="stylesheet">

        <!--<link href="css/vendor.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">-->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <nav class="header">
            <div class="shareContainer hidden-xs hidden-sm">
                <a class="shareButton shareButton--email u-white" href="mailto:?subject=Request%20for%20Information%20Open%20Cities%20Summit%202016&amp;body=http://opencitiessummit.org"><svg id="mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="currentcolor"><path d="M0 6 L16 16 L32 6 z M0 9 L0 26 L32 26 L32 9 L16 19 z"></path></svg></a>
                <a class="shareButton shareButton--facebook u-white" target="_blank" href="https://www.facebook.com/sharer/sharer.php?href=I%20am%20attending%20to%20Open%20Cities%20Summit%202016%20http://opencitiessummit.org"><svg id="facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="currentcolor"><path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z"></path></svg></a>
                <a class="shareButton shareButton--twitter u-white" target="_blank" href="https://twitter.com/intent/tweet?text=Let%20us%20meet%20at%20Open%20Cities%20Summit!%20via%20@opencities2016%20%23opencitiessummit%20http://opencitiessummit.org"><svg id="twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="currentcolor"><path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"></path></svg></a>
            </div>
	    <!--             <a class="mastheadLink" href="http://okfn.es/" role="banner"><img class="img-responsive navbarImg" src="img/sponsors/okfn.sv"></a> -->
            <div class="headerLinks">
                <a class="headerLinks--link page-scroll" href="#about">{{ site.data.lang.[locale].header.about }}</a>
                <a class="headerLinks--link page-scroll" href="#structure">Structure</a>
                <a class="headerLinks--link page-scroll" href="#challenges">Challenges</a>
		<a class="headerLinks--link page-scroll" href="#programme">Programme</a>
		<a class="headerLinks--link page-scroll" href="#org-committee">Organizing Committee</a>
<!--		<a class="headerLinks--link page-scroll" href="#cfp">Open Call</a> -->
		<a class="headerLinks--link page-scroll" href="#org">Organization</a>
                <a class="headerLinks--link page-scroll" href="#contact">Contact</a>
            </div>
        </nav><!-- nav -->

        <div class="container-fluid">
            <section id="cover">
                <div class="row">
                    <div class="intro">
                        <div class="col-md-8 col-center">
                            <h1 class="introHeadline"><span class="u-blue">Madrid </span>
				Open Cities <span class="u-blue">Summit</span></h1>
			    <h2 class="introCopy p-b-1"><span>October 5th, 2016</span></h2>
                            <!-- <p class="introCopy p-b-1">October 5th, 2016 <a class="link--inverse"
				 href="http://medialab-prado.es/">at Medialab-Prado</a></p>
        	               --> <a href="http://opencitiessummit.eventbrite.es" class="btn btn-primary
                            btn-lg m-b-1"><i class="fa
						    fa-calendar"></i> Register open until October 1st</a>
<!--			    --
			    <a href="#cfp"
                               class="btn btn-success btn-lg
				      m-b-1"><i class="fa fa-check"></i> Submit a poster</a>
-->
                        </div>
                        <span class="introCredit"><a class="link--inverse" href="https://www.flickr.com/photos/p_valdivieso/">Paulo Valdivieso</a>, <a class="link--inverse" href="https://flic.kr/p/gGaCou">El Retiro</a></span>
                    </div>
                </div>
            </section><!-- cover -->

            <section id="about">
                <div class="row">
                    <div class="summary p-t-4 p-b-4">
                        <div class="col-md-7 col-center">
                            <img class="img-responsive center-block
                            m-b-2 hidden-xs lazy"
                            data-src="img/logo_obt.svg" alt="Banner Open
                            Cities Summit 2016, Madrid, October 5th."/>
                            <img class="img-responsive center-block m-b-2 visible-xs lazy" data-src="img/card-mobile.svg" alt="Banner Open Cities Summit at Medialab-Prado, Madrid, Spain, October 5th, 2016."/>

                            <noscript>
                                <img class="img-responsive
                                center-block m-b-2 hidden-xs"
                                src="img/logo_obt.svg" alt="Banner Open
                                Cities Summit at Medialab-Prado, Madrid, Spain, October
                                5th, 2016"/>
                                <img class="img-responsive center-block m-b-2 visible-xs" src="img/card-mobile.svg" alt="Banner Open
                                Cities Summit 2016, Madrid, October
                                5th, 2016"/>
                            </noscript>

                            <p class="text text-center"><a href="/" class="link">Cities open to citizen innovation</a>.</p>
                            <p class="text text-center">The <acronym title="Open Cities Summit">OCS</acronym> will take place the day before <acronym title="International Open Data Conference">IODC16</acronym>, October 5th, 2016 at <a href="http://medialab-prado.es" >Medialab-Prado</a>. </p>
			    <p class="introCite">"Open data secures space for citizen-driven development and greater collaboration between officials and outside actors. This can build open cities that adapt to meet the needs of their communities and businesses, rather than imposing top-down structures and solutions". <span>International Open Data Conference Roadmap 2015
			    </span></p>
			    <div class="row">
			      <div class="col-md-7 col-center">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/qJg25sl1yKM" frameborder="0" allowfullscreen></iframe>
			      </div>
			    </div>

                            <div class="row columns">
                    		    <div class="col-xs-6 u-borderRight">
                                    <h3>The OCS will aim to:</h3>
                    			    <ul class="summaryList">
                    				    <li class="summaryDesc
                    					       m-b-1">Highlight how open data is being used around the world to improve the lives of citizens at the city level</li>
						    <li class="summaryDesc m-b-1">
							Facilitate knowledge exchange around open cities</li>
						    <li class="summaryDesc m-b-1">Ideate solutions to overcome identified challenges in creating open cities.</li>
                    			    </ul>
                    		    </div>
                    		    <div class="col-xs-6">
                    			<h3>The OCS will bring together:</h3>
                        			<ul class="summaryList">
                        				<li class="summaryDesc m-b-1">Civil servants in charge of Open Data policies;</li>
                        				<li class="summaryDesc m-b-1">CSOs and NGOs working with data at the local / city level</li>
                        				<li class="summaryDesc m-b-1">CSOs that don’t yet work with data but want to learn how they can use data to improve the impact of the work they do at a local level</li>
                        				<li class="summaryDesc m-b-1">Data journalist</li>
                        				<li class="summaryDesc m-b-1">SMEs working in the field of Smart Cities, E-Government</li>
							<li class="summaryDesc m-b-1">Researchers interested in Open Data and Public Sector Innovation</li>
							<li class="summaryDesc m-b-1">Anyone who is passionate about using data and open principles to create positive change at the city level.</li>
                    			    </ul>
                    		    </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section><!-- about -->

            <section id="structure" class="m-b-4">
                <div class="row">
                    <div class="col-md-7 col-center m-t-4">
                        <h2 class="text-center">Structure</h2>
                        <hr class="separator">
                        <p class="text-center">The summit will be structured in three parts</p>
			<h3>Firstly</h3>
			<p class="text-left">Firstly, the summit will be opening a call for posters and city managers from all over the world will be able to tell how their open data policies are helping to improve the lives of citizens.</p>
			<h3>Secondly</h3>
			<p class="text-left">Secondly, participants in the summit will be working in groups to ideate solutions to overcome four different challenges identified in the implementation of an open data policy at a city level: managing an open data policy, improving urban planning, mitigating climate change, and improving city competitiveness.</p>
			<h3>Finally</h3><p class="text-left">Finally, there will be open space to discuss the challenges and opportunities of creating an open city.</p>
                    </div>

                </div>
	    </section><!-- structure -->

	    <section id="challenges" class="m-b-4">
		<div class="row">
		    <div class="col-md-7 col-center m-t-4">
			<h2 class="text-center">Challenges</h2>
			<hr class="separator">
		    </div>
		    <div class="flex-joinUs text-center">
			<div class="joinUs one">
			    <i class="fa fa-unlock fa-3x"></i>
			    <h3>Management of an Open Data Policy</h3>
			    <p class="text-left">Open Data is a source for knowledge and decision making. How should a city structure teams to ensure that the publication of datasets is compliant with technical and legal frameworks?</p>
			</div>

			<div class="joinUs two">
			    <i class="fa fa-map-o fa-3x"></i>
			    <h3>Urban Planning</h3>
			    <p class="text-left">
				Open Data, especially geospatial data, is very useful to understand trends in urban planning. How can a city open and link data sources to improve urban planning? How can open data help in the definition of new solution for common / urban problems?</p>
			</div>

			<div class="joinUs three">
			    <i class="fa fa-bicycle fa-3x"></i>
			    <h3>Environment</h3>
			    <p class="text-left">Open Data can be an important tool to fight against climate change. How can a city use open data to monitor and mitigate environmental related issues, such as pollution?</p>
			</div>
			<div class="joinUs four">
			    <i class="fa fa-line-chart fa-3x"></i>
			    <h3>Competitiveness</h3>
			    <p class="text-left">Open Data can be a source for new businesses and social projects that enhance competitiveness in a city. How can a city use open data to generate a vibrant ecosystem capable of developing new jobs and solutions for the city? How should open cities link into other broader discussions, e.g. Smart cities, Entrepreneurship?</p>
			</div>
		    </div>
		</div>


            </section><!-- challenges -->

            <section id="programme">
                <div class="row">
                    <div class="schedule p-t-2 p-b-4">
                        <div class="col-md-8 col-center">
                            <h2 class="text-center">Programme</h2>

                            <hr class="separator--inverse">
                            <div class="text-center m-b-2">
				<h4 class="scheduleLegend"><span class="circle talk"></span> Talk</h4>
				<h4 class="scheduleLegend"><span class="circle workshop"></span> Workshop</h4>
				<h4 class="scheduleLegend"><span class="circle
									roundTable"></span> Round Table</h4>
				<h4 class="scheduleLegend"><span class="circle barcamp"></span> Unconference</h4>
                            </div>
			    <p class="text">Auditorium, Cantina and Backyard are the spaces in the same building, Medialab-Prado.</p>

                            <header class="scheduleDay m-b-1">Wednesday October 5th, 2016</header>
                            <div class="row">
				<time class="col-xs-12 col-md-2 place">Medialab Prado</time>
				<div class="col-xs-12 col-md-10 place">Auditorium</div>
                            </div>

                            <div class="row timeSlot">
                                <time class="col-xs-12 col-md-2">9.00 — 9.30</time>
                                <div class="col-xs-12 col-md-10">
                                    <h4 class="m-t-0">Registration & Coffee 🍔🍕🍉 & Brainstorming Exercise</h4>
                                </div>
                            </div>
                            <div class="row timeSlot">
                                <time class="col-xs-12 col-md-2">9.30 — 09.45</time>
                                <div class="col-xs-12 col-md-10">
                                    <h4 class="m-t-0">Welcome and Opening Remarks <span class="circle talk"></span></h4>
                                </div>
                            </div>

			    <div class="row timeSlot">
                                <time class="col-xs-12 col-md-2">09.45 — 10.20</time>
                                <div class="col-xs-12 col-md-10">
                                    <h4 class="m-t-0">Keynote: Amen Ra Mashariki, Chief Analytics Officer, New York City <span class="circle talk"></span></h4>
                                </div>
			    </div>
                            <div class="row timeSlot">
                                <time class="col-xs-12 col-md-2">10.20 — 11.10</time>
                                <div class="col-xs-12 col-md-10">
                                    <h4 class="m-t-0">City leaders panel: local issues and open data solutions, lessons learned, and setting short and long terms priorities <span class="circle roundTable"></span></h4>
				    <p>Moderator:</p>
				    <ul>
					<li>Moderator: Alex Howard, Sunlight Foundation, What Works Cities initiative</li></ul>
				    <p>Speakers</p>
				    <ol>
					<li>Maria Jesus Luis, City of Zaragoza (Spain)</li>
					<li>Stephane Contre, City of Edmonton (Canada)</li>
					<li>Nicola Graham, City of Dublin (Ireland)</li>
					<li>Juan Prada, City of Montevideo (Uruguay)</li>
				    </ol>


                                </div>
                            </div>
                            <div class="row timeSlot">
                                <time class="col-xs-12 col-md-2">11.10 — 12.00</time>
                                <div class="col-xs-12 col-md-10">
                                    <h4 class="m-t-0">Expert panel on what is an open city: emerging trends, scaling opportunities, strengthening networks.  <span class="circle roundTable"></span></h4>
				    <p>Moderator</p>
				    <ul>
					<li>Antonio Moneo-Laín (IADB)</li>
				    </ul>
				    <p>Speakers</p>
				    <ol>
					<li>Barbara Ubaldi, OECD</li>
					<li>Dinand Tinholt, European Data Portal</li>
					<li>Stephen Larrick, Sunlight Foundation</li>
					<li>Jean-Noé Landry, Open North</li>
				    </ol>

                                </div>
                            </div>
			    <div class="row timeSlot">
                                <time class="col-xs-12 col-md-2">12.00 — 12.30</time>
                                <div class="col-xs-12 col-md-10">
                                    <h4 class="m-t-0">Break  🍔🍕🍉</h4>
                                </div>
                            </div>
                            <div class="row timeSlot">
                                <time class="col-xs-12 col-md-2">12.30 — 13.30</time>
                                <div class="col-xs-12 col-md-10">
                                    <h4 class="m-t-0">(Petcha Kucha/presentations) Public presentation of the eight projects developed along <a href="http://medialab-prado.es/visualizar" >Visualizar'16</a> international workshop at <a href="http://medialab-prado.es" >Medialab-Prado</a> (26 September - 5 October) presented by José Luis de Vicente <span class="circle talk"></span></h4>
                                </div>
                            </div>

                            <div class="row">
                                <time class="col-xs-12 col-md-2 place">Medialab-Prado</time>
			        <div class="col-xs-12 col-md-10 place">Cantina and Backyard</div>
                            </div>

                            <div class="row timeSlot break">
                                <time class="col-xs-12 col-md-2">13.30 — 14.30</time>
                                <div class="col-xs-12 col-md-10">
                                    <h4 class="m-t-0"><i>Lunch</i> 🍔🍕🍉</h4>
				    <p>Public presentations of posters</p>
                                </div>
                            </div>

                            <div class="row">
                                <time class="col-xs-12 col-md-2 place">Medialab-Prado</time>
			        <div class="col-xs-12 col-md-10 place">Auditorium</div>
                            </div>
                            <div class="row timeSlot">
                                <time class="col-xs-12 col-md-2">14.30 — 16.15</time>
                                <div class="col-xs-12 col-md-10">
                                    <h4 class="m-t-0">Ideathon workshops <span class="circle barcamp"></h4>
					<p>Participants work in facilitated breakout groups to find innovative solutions to highlighted challenges by thematic areas.</p>
					<ul>
					    <li>Theme 1: Open data portals and engagement mechanisms, Dinand Tinholt, European Data Portal</li>
					    <li>Theme 2: Adopting the Open Data Charter
						Carlos Iglesias, WebFoundation</li>
					    <li>Theme 3: Competitiveness and economic development
						Laura Manley, Center for Open Data Enterprise</li>
					    <li>Theme 4: Smart and resilient cities
						Richard Gevers, Open Data Durban (South Africa)</li>
					    <li>Theme 5: Interdisciplinary collaboration and organizational change
						Katelyn Rogers, Open Knowledge Foundation
						Eric Reese, Johns Hopkins University</li>
					    <li>Theme 6: Fiscal transparency
						Sierra Ramirez, OpenContracting</li>
					    <li>Theme 7: Making city services accessible
						Greg Bloom, Open Referral Initiative</li>
					    <li>Theme 8: Standards and interoperability
						Oscar Corcho, Spanish Government
						Nico Tillie, World Council on City Data </li>
					</ul>
                                </div>

                            </div>
                            <div class="row timeSlot">
                                <time class="col-xs-12 col-md-2">16.15 — 16.30</time>
                                <div class="col-xs-12 col-md-10">
                                    <h4 class="m-t-0">Break </h4>
                                </div>
                            </div>
                            <div class="row timeSlot">
                                <time class="col-xs-12 col-md-2">16.30 — 17.30</time>
                                <div class="col-xs-12 col-md-10">
                                    <h4 class="m-t-0">Ideathon workshops takeaways <span class="circle barcamp"></span></h4>
                                </div>
                            </div>
			    <div class="row timeSlot">
                                <time class="col-xs-12 col-md-2">17.30 — 18.00</time>
                                <div class="col-xs-12 col-md-10">
                                    <h4 class="m-t-0">Wrap-up next steps <span class="circle roundTable"></span></h4>
                                </div>
                            </div>
                            <div class="row timeSlot">
                                <time class="col-xs-12 col-md-2">19.00 — 20.30</time>
                                <div class="col-xs-12 col-md-10">
                                    <h4 class="m-t-0">Cocktail and networking 🍔🍕🍉</h4>
                                </div>
                            </div>
            	        </div>
                    </div>
                </div>
            </section><!-- programme -->

            <section id="org-committee" class="p-b-2">
                <div class="row">
                    <div class="col-md-6 col-center text-center">
                        <h2>Organizing Committee</h2>
                        <hr class="separator">
                    </div>
                </div>

                <div class="flex-speakers">
                    <div class="speaker one">
                        <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/katie_clancy.jpeg" alt="Katie Clancy">
                        <noscript>
                            <img class="img-responsive img-circle speakerImg" src="img/speakers/katie_clancy.jpeg" alt="Katie Clancy">
                        </noscript>
                        <h3 class="speakerName"><a href="http://twitter.com/LandofKatie" class="link">Katie Clancy</a></h3>
                        <p>Project Management Officer, Open Data for Development program at International Development Research Centre (IDRC)</p>
                    </div>
                    <div class="speaker two">
                        <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/fernando_perini.jpeg" alt="Fernando Perini">
                        <noscript>
                            <img class="img-responsive img-circle speakerImg" src="img/speakers/fernando_perini.jpeg" alt="Fernando Perini">
                        </noscript>
                        <h3 class="speakerName"><a href="https://twitter.com/fperini" class="link">Fernando Perini</a></h3>
                        <p>Program Officer at IDRC, Perini is involved in the development of policy-oriented research projects at Open Data for Development..</p>
                    </div>
                    <div class="speaker three">
                        <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/victoria_anderica.jpeg" alt="Victoria Anderica">
                        <noscript>
                            <img class="img-responsive img-circle speakerImg" src="img/speakers/victoria_anderica.jpeg" alt="Victoria Anderica">
                        </noscript>
                        <h3 class="speakerName"><a href="https://twitter.com/vickyande" class="link">Victoria Anderica Caffarena</a></h3>
                        <p>Project manager of Transparency of Madrid City Council driven from the Open Gov, Transparency and Citizen Participation Area.</p>
                    </div>
                    <div class="speaker four">
                        <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/antonio_moneo.jpg" alt="Antonio Moneo">
                        <noscript>
                            <img class="img-responsive img-circle speakerImg" src="img/speakers/antonio_moneo.jpg" alt="Antonio Moneo">
                        </noscript>
                        <h3 class="speakerName"><a href="https://twitter.com/antoniomoneo" class="link">Antonio Moneo</a></h3>
                        <p>International consultant on Open Data, Learning and Knowledge Management Senior Associate at the Inter-American Development Bank.</p>
                    </div>

		    <div class="speaker five">
                        <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/katelyn_rogers.jpeg" alt="Katelyn Rogers">
                        <noscript>
                            <img class="img-responsive img-circle speakerImg" src="img/speakers/katelyn_rogers.jpeg" alt="Katelyn Rogers">
                        </noscript>
                        <h3 class="speakerName"><a href="https://twitter.com/kayhuit" class="link">Katelyn Rogers</a></h3>
                        <p>Working Groups Community Manager at Open Knowledge International, BA in Philosophy and French from UCLA.</p>
                    </div>

		    <div class="speaker six">
                        <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/francois_van_schalkwyk.jpg" alt="François Van Schalkwyk">
                        <noscript>
                            <img class="img-responsive img-circle speakerImg" src="img/speakers/francois_van_schalkwyk.jpg" alt="François Van Schalkwyk">
                        </noscript>
                        <h3 class="speakerName"><a href="https://twitter.com/francois_fvs2" class="link">François Van Schalkwyk</a></h3>
                        <p>Independent researcher and consultant in the fields of higher education studies, open data and scholarly communication at WWW Foundation.</p>
		    </div>

		    <div class="speaker seven">
                        <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/jean_noe-low.jpg" alt="Jean-Noé Landry">
                        <noscript>
                            <img class="img-responsive img-circle speakerImg" src="img/speakers/jean_noe-low.jpg" alt="Jean-Noé Landry">
                        </noscript>
                        <h3 class="speakerName"><a href="https://twitter.com/opennorth" class="link">Jean-Noé Landry</a></h3>
                        <p>Executive Director of OpenNorth, Canadian non-profit org. specialized in open data and civic tech. Steward of the Open Data Charter. </p>
                    </div>
		    <div class="speaker eight">
                        <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/stephen_larrick_low.jpg" alt="Stephen Larrick">
                        <noscript>
                            <img class="img-responsive img-circle speakerImg" src="img/speakers/stephen_larrick_low.jpg" alt="Stephen Larrick">
                        </noscript>
                        <h3 class="speakerName"><a href="https://twitter.com/slarrick" class="link">Stephen Larrick</a></h3>
                        <p>Cities/Open Data Lead at Sunlight Foundation, urbanist and advocate for open and participatory cities empowered through tech.</p>

                    </div>
		    <div class="speaker nine">
                        <img class="img-responsive img-circle speakerImg lazy" data-src="img/speakers/adolfo_anton.jpg" alt="Adolfo Antón Bravo">
                        <noscript>
                            <img class="img-responsive img-circle speakerImg" src="img/speakers/adolfo_anton.jpg" alt="Adolfo Antón Bravo">
                        </noscript>
                        <h3 class="speakerName"><a href="https://twitter.com/slarrick" class="link">Adolfo Antón Bravo</a></h3>
                        <p>Project manager of Datalab at Medialab-Prado, PhD in Journalism, president of Open Knowledge Spain and free culture advocate.</p>

                    </div>
                </div>

                <div class="col-md-5 col-center">
                    <p class="text text-center balance-text">...and more people to come, join Open
                    Cities Summit and don't miss it.</p>

                 </div>

            </section><!-- attendees -->

<!--            <section id="cfp">
                <div class="row">
		    <div class="call p-t-2 p-b-4">
                        <div class="col-md-8 col-center text-center">
                            <h2 class="text-center">Call for Participation</h2>
                            <hr class="separator--inverse">
			    <p>We encourage to submit posters for the Open Cities Summit, <strong>extended deadline</strong> until September 15th, 2016. Please share with us the shape of Open City to come.</p>
			    <embed src="https://docs.google.com/forms/d/1NER8J7TrnScLIkUIq-WaXn56otf7AEtZvsFfnPkj4GU/viewform" width="760" height="700" frameborder="0" marginheight="0" marginwidth="0"></embed>
			</div>
		    </div>

                </div>
            </section>
-->
<!-- cfp -->
            <section id="org">
                <div class="row m-t-2 m-b-2">

		    <div class="sponsors">
			<div class="col-md-6 col-center text-center">
			    <h2>Collaborators</h2>
			    <hr class="separator">
			    <div class="sponsorList">
				<div class="row">
				    <div class="col-md-6">
					<div class="sponsor">
					    <img class="sponsorLogo img-responsive u-fullWidth setsi lazy" data-src="img/sponsors/logo_gob_minetur_setsi_online.jpg" alt="Secretaría de Estado de Telecomunicaciones y para la Sociedad de la Información" height="60" />
					    <noscript>
						<img class="sponsorLogo img-responsive u-fullWidth" src="img/sponsors/logo_gob_minetur_setsi_online.jpg" alt="Secretaría de Estado de Telecomunicaciones y para la Sociedad de la Información" />
					    </noscript>
					</div>
				    </div>

				    <div class="col-md-6">
					<div class="sponsor">
					    <img class="sponsorLogo img-responsive u-fullWidth medialab lazy" data-src="img/sponsors/medialab.svg" alt="Medialab-Prado" />
					    <noscript>
						<img class="sponsorLogo img-responsive u-fullWidth" src="img/sponsors/medialab.svg" alt="Medialab-Prado" />
					    </noscript>
					</div>
				    </div>
				</div>
				<div class="row">
				    <div class="col-md-6">
					<div class="sponsor">
					    <img class="sponsorLogo img-responsive bid lazy" data-src="img/sponsors/bid.jpg" alt="Inter American Development Bank" />
					    <noscript>
						<img class="sponsorLogo img-responsive" src="img/sponsors/bid.jpg" alt="Inter American Development Bank" />
					    </noscript>
					</div>
				    </div>
				    <div class="col-md-6">
					<div class="sponsor">
					    <img class="sponsorLogo img-responsive google lazy" data-src="img/sponsors/idrc.svg" alt="International Development Research Centre" />
					    <noscript>
						<img class="sponsorLogo img-responsive" src="img/sponsors/sponsors/idrc.svg" alt="International Development Research Centre" />
					    </noscript>
					</div>
				    </div>
				</div>

				<div class="row">
				    <div class="col-md-6">
					<div class="sponsor">
					    <img class="sponsorLogo img-responsive wwwf lazy" data-src="img/sponsors/wwwf.png" alt="Web Foundation" />
					    <noscript>
						<img class="sponsorLogo img-responsive" src="img/sponsors/wwwf.png" alt="Web Foundation" />
					    </noscript>
					</div>
				    </div>
				    <div class="col-md-6">
					<div class="sponsor">
					    <img class="sponsorLogo img-responsive madrid lazy" data-src="img/sponsors/madrid_new.png" alt="Madrid City Council" />
					    <noscript>
						<img class="sponsorLogo img-responsive" src="img/sponsors/madrid_new.png" alt="Madrid City Council" />
					    </noscript>
					</div>
				    </div>
				</div>

				<div class="row">
				    <div class="col-md-6">
        				<div class="sponsor">
					    <img class="sponsorLogo img-responsive odc lazy" data-src="img/sponsors/odc.png" alt="Open Data Charter" />
					    <noscript>
						<img class="sponsorLogo img-responsive" src="img/sponsors/odc.png" alt="Open Data Charter" />
					    </noscript>
        				</div>
				    </div>
				    <div class="col-md-6">
        				<div class="sponsor">
					    <img class="sponsorLogo img-responsive iodc lazy" data-src="img/sponsors/iodc.jpg" alt="International Open Data Conference" />
					    <noscript>
						<img class="sponsorLogo img-responsive" src="img/sponsors/iodc.jpg" alt="International Open Data Conference" />
					    </noscript>
        				</div>
				    </div>
				</div>
				<div class="row">
				    <div class="col-md-6">
					<div class="sponsor">
					    <img class="sponsorLogo img-responsive u-fullWidth okfn lazy" data-src="img/sponsors/okfn.svg.png" alt="Open Knowledge International" />
					    <noscript>
						<img class="sponsorLogo img-responsive u-fullWidth" src="img/sponsors/okfn.svg.png" alt="Open Knowledge International" />
					    </noscript>
					</div>
				    </div>
				    <div class="col-md-6">
					<div class="sponsor">
					    <img class="sponsorLogo img-responsive od4d lazy" data-src="img/sponsors/od4d.png" alt="OD4D, Open Data for Development Network" height="60" />
					    <noscript>
						<img class="sponsorLogo img-responsive" src="img/sponsors/od4d.png" alt="OD4D, Open Data for Development Network" height="60" />
					    </noscript>
					</div>
				    </div>
				</div>
				<div class="row">
				    <div class="col-md-6">
					<div class="sponsor">
					    <img class="sponsorLogo img-responsive opennorth lazy" data-src="img/sponsors/color_logo_horizontal.jpg" alt="Open North" height="60" />
					    <noscript>
						<img class="sponsorLogo img-responsive" src="img/sponsors/color_logo_horizontal.jpg" alt="Open North" />
					    </noscript>
					</div>
				    </div>
				    <div class="col-md-6">
					<div class="sponsor">
					    <img class="sponsorLogo img-responsive opennorth lazy" data-src="img/sponsors/sunlight.png" alt="Sunlight Foundation" height="60" />
					    <noscript>
						<img class="sponsorLogo img-responsive" src="img/sponsors/sunlight.png" alt="Sunlight Foundation" />
					    </noscript>
					</div>
				    </div>
				</div><!-- fin row -->
				<p class="text balance-text">If you
				    want to join us please send us an <a href="mailto:opencitiessummit@medialab-prado.es">email</a></p>
            		    </div>
			</div>
		    </div>
		</div>
	    </section><!-- org -->


            <section id="contact">
                <div class="row">



                    <div class="contact p-t-2">

                        <img class="staticMap lazy" data-src='https://api.mapbox.com/styles/v1/mapbox/dark-v9/static/-3.6940000,40.4095000,17/1250x500@2x?access_token=pk.eyJ1IjoibWFydGluZ256IiwiYSI6ImNpbGd2cG5tMTAwNWV3OGx6MHg1MmltYnQifQ.A6Fvtb7Sk_okvco9kuDziA' alt='Medialab-Prado'>
                        <noscript>
                            <img class="staticMap" src='https://api.mapbox.com/styles/v1/mapbox/dark-v9/static/-3.6940000,40.4095000,17/1250x500@2x?access_token=pk.eyJ1IjoibWFydGluZ256IiwiYSI6ImNpbGd2cG5tMTAwNWV3OGx6MHg1MmltYnQifQ.A6Fvtb7Sk_okvco9kuDziA' alt='Medialab-Prado'>
                        </noscript>
                        <div class="mapText col-md-4 col-center text-center u-white">
                            <h2>Contact</h2>
                            <hr class="separator--inverse">
                            <p>You can reach us by <a class="link--inverse" href="mailto:opencitiessummit@medialab-prado.es">mail</a>, <a class="link--inverse" href="https://twitter.com/opencities2016">Twitter</a> o <a class="link--inverse" href="#">Facebook</a>.</p>
                            <footer class="footer p-b-3">
                                <p class="m-0"><i class="fa
                                fa-creative-commons"></i>
                                Medialab-Prado (Madrid), Spain, 2016.</p>
                                <p class="m-0"><a class="link--inverse"
                                href="https://github.com/medialab-prado/opencitiessummit">Source code</a>.</p>
                            </footer>
                        </div>
                    </div>
                </div>
            </section><!-- contact -->
        </div>

        <script src="/js/bundle.js"></script>
	<script src="/js/vivero.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*.jsew Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-80178485-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
